section{
  width: 780px;
  display: block;
  margin: 0 auto;
}
.container{
  width: 120px;
  height: 180px;
  position: relative;
  perspective: 800px;
  display: inline-block;
  margin: 5px;
}
.card{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d; /* because the container's perspective only applies to immediate children, this allows it to be inherited down the chain */
  transition: transform 0.5s;
  border: 1px solid gray;
  z-index: 20;
}
.card div{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
.card:hover, .card.flipped, .card.matched{
  transform: rotateY(180deg);
  cursor: pointer;
}
.front{
  background: lightyellow;
}
.back{
  background: aliceblue;
  transform: rotateY(180deg); /* To flip the back */
}
.back img{
  width: 100%;
}
button{
  display: block;
  margin: 30px auto;
  font-size: 20px;
  line-height: 60px;
}