.container{
  width: 150px;
  height: 250px;
  position: relative;
  perspective: 800px;
}
#card{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d; /* because the container's perspective only applies to immediate children, this allows it to be inherited down the chain */
  transition: transform 0.5s;
  border: 1px solid gray;
}
#card div{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
#card:hover, #card.flipped{
  transform: rotateY(180deg);
}
.front{
  background: lightyellow;
}
.back{
  background: aliceblue;
  transform: rotateY(180deg); /* To flip the back */
}