*{
  font-family: Impact, Charcoal, sans-serif;
  letter-spacing: 3px;
  outline: none;
}
section{
  width: 700px;
  display: block;
  margin: 0 auto;
}

#score-turns-target-area{
  display: block;
  width: 690px;
  margin: 10px auto;
}

#score-turns-target-area #area-container{
  display: block;
  position: relative;
}
#turns{position: absolute; left: 0; top: 0px; color:  gray; z-index: 1;}
#target{position: absolute; left: 0; top: 35px; color: #cc0033; z-index: 2;}
#score{position: absolute; left: 0; top: 70px; padding-bottom: 10px; z-index: 3;}

#target, #target p, #score, #score p, #turns, #turns p{display: inline-block;}
p span{color: green;}
.container{
  width: 100px;
  height: 150px;
  position: relative;
  perspective: 800px;
  display: inline-block;
  margin: 5px;
}
.card{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d; /* because the container's perspective only applies to immediate children, this allows it to be inherited down the chain */
  transition: transform 0.2s;
}
.card:hover{
  -ms-transform: translate(0px,-4px); /* IE 9 */
  -webkit-transform: translate(0px,-4px); /* Chrome, Safari, Opera */
  transform: translate(0px,-4px);
}
.card div{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  cursor: pointer;
  border: 1px solid gray;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
}
/*.card:hover, */
.card.flipped, .card.matched{
  transform: rotateY(180deg);
  box-shadow: 0;
}
.complete{
  box-shadow: 0px 0px 2px 2px rgba(32, 218, 109, 0.5);
  transform: rotateY(180deg);
  transition: transform 0.9s;
}
.front{
  background: url('pattern.jpg');
  background-size: 80%;
  box-shadow: -0.5px 4px 5px 1px rgba(0, 0, 0, 0.5);
  transform: rotateX(40deg);
}
.front:hover{
  transform: rotateX(42deg);
  box-shadow: 0px 11px 6px 1px rgba(0, 0, 0, 0.5);
}
.back{
  transform: rotateY(180deg); /* To flip the back */
}
.back img{
  width: 100%;
  opacity: 0.9;
}
.complete .back img{opacity: 1;}
button{
  display: block;
  margin: 30px auto;
  font-size: 20px;
  line-height: 60px;
  cursor: pointer;
  padding: 5px 20px;
}