section{
  width: 780px;
  display: block;
  margin: 0 auto;
}
.container{
  width: 120px;
  height: 180px;
  position: relative;
  perspective: 800px;
  display: inline-block;
  margin: 5px;
}
.card{
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d; /* because the container's perspective only applies to immediate children, this allows it to be inherited down the chain */
  transition: transform 0.2s;
  border: 1px solid gray;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
}
.card div{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  cursor: pointer;
}
/*.card:hover, */
.card.flipped, .card.matched{
  transform: rotateY(180deg);
}
.card.complete{
  box-shadow: 0px 0px 15px 5px rgba(255, 255, 190, .75);
}
.front{
  background: lightyellow;
}
.back{
  background: aliceblue;
  transform: rotateY(180deg); /* To flip the back */
}
.back img{
  width: 100%;
}
button{
  display: block;
  margin: 30px auto;
  font-size: 20px;
  line-height: 60px;
}