*{
  outline: 0; /* removes blue focus blur */
  font-family: Helvetica;
}
body{
  margin: 0;
}

#header{
  display: block;
  text-align: center;
  background: #11c;
  height: 80px;
}
#header div:before{
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
#header div{
  display: inline-block;
  padding: 0 36px;
  vertical-align: middle;
  color: lightgray;
  font-size: 20px;
  line-height: 14px;
  cursor: pointer;
}
#header div:hover{
  color: blue;
}
input{
  display: block;
  width: 95%;
  padding: 5px;
  line-height: 30px;
}
input, p {
  font-size: 16px;
}
span{
  position: relative;
  top: -30px;
  right: -16px;
  display: none;
}
table{
  text-align: left;
  width: 900px;
  background-color: lightgray;
  padding-left: 50px;
}
td{
  padding: 14px 0;
  vertical-align: top;
}
tr td:first-child{
  /*color: red;*/
  width: 7%;
}
tr th:first-child{
  /*color: red;*/
  width: 7%;
}

tr td:nth-child(2){
  /*color: blue;*/
  width: 30%;
}
tr th:nth-child(2){
  /*color: blue;*/
  width: 30%;
}

tr td:nth-child(3){
  color: #eee;
  width: 60%;
}
tr th:nth-child(3){
  color: #eee;
  width: 60%;
}


.correct{
  border: 3px solid lawngreen;
}
.wrong{
  border: 3px solid red;
}
.hide{
  visibility: hidden;
}

