section{
  display: inline-block;
  float: left;
  margin: 10px;
}
input{
  display: block;
  width: 95%;
}
input, p {
  line-height: 20px;
  font-size: 12px;
  margin: 8px;
}
span{
  position: absolute;
  display: none;
}
table{
  text-align: left;
  width: 900px;
  background-color: lightgray;
}
td{
  padding: 10px 0;
}
tr td:first-child{
  /*color: red;*/
  width: 7%;
}
tr th:first-child{
  /*color: red;*/
  width: 7%;
}

tr td:nth-child(2){
  /*color: blue;*/
  width: 30%;
}
tr th:nth-child(2){
  /*color: blue;*/
  width: 30%;
}

tr td:nth-child(3){
  color: #fcf;
  width: 60%;
}
tr th:nth-child(3){
  color: #fcf;
  width: 60%;
}